<template>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="http://pngimg.com/uploads/money/money_PNG3529.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Money Clicker
        </a>
    </nav>
</template>
