<template>
    <div>
        <Navigation />
        <div class="container">
            <div class="row pt-4">
                <div class="col-4 text-center">
                    <h1>Hello, Adventurer!</h1>
                    <h2>You have {{ currentMoney }}$</h2>
                    <img
                        src="https://cdn130.picsart.com/235850924022212.png?r1024x1024"
                        class="w-100"
                        @click="IncreaseMoney()" >
                </div>
                <div class="col-8">
                    <div class="card p-3 text-uppercase text-success"
                        v-if="currentMoney >= this.autoClickerCost"
                        @click="BuyAutoClicker()">
                        Buy auto-clicker for {{ autoClickerCost }}$
                    </div>
                    <div
                        class="card p-3 text-uppercase text-warning"
                        v-if="currentMoney >= this.clickIncreaseValue"
                        @click="IncreaseClickValue()">
                        Increase click value for {{ clickIncreaseValue }}$
                    </div>

                    <button class="btn rounded-pill btn-success btn-lg"
                            @click="SaveToLocalStorage()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Navigation from './components/Navigation.vue';

export default {
  data() {
    return {
      currentMoney: Number(localStorage.getItem('currentMoney')) || 0,
      clickValue: Number(localStorage.getItem('clickValue')) || 1,
      clickIncreaseValue: Number(localStorage.getItem('clickIncreaseValue')) || 15,
      autoClickerValue: Number(localStorage.getItem('autoClickerValue')) || 0,
      autoClickerCost: Number(localStorage.getItem('autoClickerCost')) || 10,
    };
  },
  components: {
    Navigation,
  },
  methods: {
    IncreaseMoney() {
      this.currentMoney += this.clickValue;
    },
    BuyAutoClicker() {
      this.autoClickerValue = (this.autoClickerValue === 0)
        ? 2
        : Math.floor(this.autoClickerValue * 3.14);
      this.currentMoney -= this.autoClickerCost;
      this.autoClickerCost = Math.floor(3.1415 * this.autoClickerCost);
    },
    IncreaseClickValue() {
      this.clickValue *= 2;
      this.currentMoney -= this.clickIncreaseValue;
      this.clickIncreaseValue *= 3;
    },
    StartAutoClicker() {
      this.interval = setInterval(() => {
        this.currentMoney += this.autoClickerValue;
      }, 1000);
    },
    SaveToLocalStorage() {
      localStorage.setItem('currentMoney', this.currentMoney);
      localStorage.setItem('autoClickerValue', this.autoClickerValue);
      localStorage.setItem('clickIncreaseValue', this.clickIncreaseValue);
      localStorage.setItem('autoClickerCost', this.autoClickerCost);
      localStorage.setItem('clickValue', this.clickValue);
    },
  },
  mounted() {
    this.StartAutoClicker();
  },
};
</script>
